.run-button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    cursor: pointer;
    color: #777777;
    font-size: 1rem;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    margin: 0 auto 2rem;
}

.code-example {
    margin: 2rem 0;
    padding: 2em 0;
    border-top: solid 1px $header-color;
    border-bottom: solid 1px $header-color;
}

.code-result {
    margin: 8px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.code-spinner {
    margin: 1rem 0;
    text-align: center;
}
