/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #f2c166;
$text-color: #444;
$header-color: #5d85a4;
$accent-color: #f2994b;
$dark-color: #000;
