<header>
  <div class="nav">
    <div>
      <a {% if page.url == '/' %}class="active"{% endif %} href="/">home</a>
    </div>
    <div>
      <a {% if page.url == '/about/' %}class="active"{% endif %} href="/about">about</a>
    </div>
     <div>
      <a {% if page.url == '/writing/' %}class="active"{% endif %} href="/writing">writing</a>
    </div>
  </div>

</header>