<header>
  <div class="nav">
    <div>
      <a href="/">home</a>
    </div>
    <div>
      <a href="/about">about</a>
    </div>
     <div>
      <a href="/writing">writing</a>
    </div>
  </div>

</header>